<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1>Cloud Capacitor</h1>
      <p>This is the web interface for the <a href="http://github.com/marcelocg/cloud_capacitor">Cloud Capacitor</a>.</p>
      <p>Cloud Capacitor is the reference implementation for the work
         described in <a href="http://twitter.com/marcelocg">Marcelo Goncalves</a>'s <a href="http://github.com/marcelocg/Dissertacao">master dissertation</a>.</p>
    </div>
  </div>
</div>