<div class="container">
  <div class="row">
    <div class="col-md-12">
      <legend>Results</legend>
      <div class="well">
        <div class="list-group">
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Stats</h4>
            <p class="list-group-item-text">Number of real executions: <%= @executions %></p>
            <p class="list-group-item-text">Execution total cost: <%= @cost.round(3) %></p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Candidate configurations</h4>
            <p class="list-group-item-text">Based on response times and cost per user, the best configurations capable of handling the specified workload are shown below ordered by price per hour:</p>
            <div class="list-group">
              <% if @candidates.size > 0 %>
                <% @candidates.keys.sort.each do |wkl| %>
                  <div class="list-group-item">
                    Workload <%= wkl %>:
                    <p>
                      <%= @candidates[wkl].sort {|x,y| x.price <=> y.price }.map {|c| c.fullname}.join(", ") %>
                    </p>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>